@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');


.home h1, h3  {
  
 text-align: center;

font-family: Oswald,sans-serif;
font-weight: bald;
width:96vw;
}
.home h1 {
  font-size:300%;
}


.navbar ul a {
 font-size: 20px;
 font-family: Lato, sans-serif;
 color:#fff;
 border-radius: 5px;
 
 
}
.navbar ul a:hover { padding: 5px;
  margin: 0 auto;
}
.navbar ul li {
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 1px;
  
  
}

.navbar-brand img {
 padding: 5px;
  
  border: 1px solid white;
 
  background-color: #fff;
  border-radius: 5px;

  
 
}







  
  

.home{ 
  background: url(https://www.99images.com/photos/wallpapers/girls/beauty-salonandroid-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-pmwt8.jpg?v=1614869468) fixed;
;
background-position: center;
background-size: cover;
width:100vw;
height:50vh;
color:#fff;
margin: 0;
padding: 0;
}

.rect {
  height: 200px ;
  border: 2px solid #424242;
  margin:20px;
  
}


 